version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: ioc_metabase_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  metabase:
    image: metabase/metabase:latest
    container_name: ioc_metabase
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    env_file:
      - .env
    environment:
      MB_DB_TYPE: postgres
      MB_DB_HOST: "postgres"
      MB_DB_PORT: "5432"
      MB_DB_DBNAME: "${POSTGRES_DB}"
      MB_DB_USER: "${POSTGRES_USER}"
      MB_DB_PASS: "${POSTGRES_PASSWORD}"
      MB_SITE_URL: "http://localhost:3000"
      MB_EMBEDDING_SECRET_KEY: "${METABASE_SECRET_KEY}"
      MB_EMBEDDING_APP_ORIGIN: "http://localhost:5173"
      MB_SITE_LOCALE: "es"
      JAVA_TIMEZONE: "America/Santiago"
    restart: unless-stopped

volumes:
  postgres-data:
    driver: local

